# Elo-Point Example

In [1]:
from ratingslib.datasets.filenames import dataset_path, FILENAME_NFL_2009_2010_FULLNAMES_GAMES_AND_PLAYOFFS
from ratingslib.ratings.elo import Elo
from ratingslib.utils.enums import ratings
filename = dataset_path(FILENAME_NFL_2009_2010_FULLNAMES_GAMES_AND_PLAYOFFS)
Elo(version=ratings.ELOPOINT, K=32, ks=1000, HA=0, starting_point=0).rate_from_file(filename, sort=True)

                    Item     rating  ranking
11     Green Bay Packers  58.825302        1
19     Minnesota Vikings  55.217485        2
21    New Orleans Saints  49.494602        3
23         New York Jets  47.215011        4
8         Dallas Cowboys  43.073833        5
2       Baltimore Ravens  40.357218        6
16  Los Angeles Chargers  39.973859        7
13    Indianapolis Colts  39.259961        8
20  New England Patriots  37.860373        9
27   San Francisco 49ers  33.188766       10
12        Houston Texans  18.446528       11
1        Atlanta Falcons  18.386510       12
25   Philadelphia Eagles  13.983536       13
26   Pittsburgh Steelers   9.130836       14
0      Arizona Cardinals   6.121626       15
4      Carolina Panthers   5.259553       16
9         Denver Broncos   4.100567       17
6     Cincinnati Bengals  -0.750144       18
22       New York Giants  -3.509664       19
18        Miami Dolphins  -9.312180       20
30      Tennessee Titans  -9.835065       21
5          Chicago Bears -16.050125       22
3          Buffalo Bills -23.286610       23
31   Washington Redskins -29.039372       24
15    Kansas City Chiefs -34.646617       25
28      Seattle Seahawks -35.149954       26
14  Jacksonville Jaguars -37.050120       27
7       Cleveland Browns -47.088786       28
29  Tampa Bay Buccaneers -54.373374       29
24       Oakland Raiders -62.651750       30
10         Detroit Lions -72.800257       31
17      Los Angeles Rams -84.351547       32