# Elo-Win Example

In [1]:
from ratingslib.datasets.filenames import dataset_path, FILENAME_NFL_2009_2010_FULLNAMES_GAMES_AND_PLAYOFFS
from ratingslib.ratings.elo import Elo
from ratingslib.utils.enums import ratings
filename = dataset_path(FILENAME_NFL_2009_2010_FULLNAMES_GAMES_AND_PLAYOFFS)
Elo(version=ratings.ELOWIN,K=32, ks=1000, HA=0, starting_point=0).rate_from_file(filename, sort=True)

                    Item      rating  ranking
21    New Orleans Saints  173.661265        1
13    Indianapolis Colts  170.330670        2
16  Los Angeles Chargers  127.581599        3
19     Minnesota Vikings  103.503766        4
8         Dallas Cowboys   89.128462        5
25   Philadelphia Eagles   69.533068        6
11     Green Bay Packers   67.829152        7
0      Arizona Cardinals   53.226971        8
23         New York Jets   50.143092        9
20  New England Patriots   39.632781       10
12        Houston Texans   33.902378       11
6     Cincinnati Bengals   33.011598       12
2       Baltimore Ravens   32.082639       13
1        Atlanta Falcons   28.117804       14
26   Pittsburgh Steelers   27.124593       15
30      Tennessee Titans   13.221557       16
4      Carolina Panthers   11.474475       17
27   San Francisco 49ers   -1.284445       18
22       New York Giants   -5.321700       19
9         Denver Broncos  -11.126190       20
18        Miami Dolphins  -26.717278       21
5          Chicago Bears  -28.141552       22
14  Jacksonville Jaguars  -36.214244       23
3          Buffalo Bills  -53.349501       24
7       Cleveland Browns  -74.663876       25
24       Oakland Raiders  -83.318754       26
28      Seattle Seahawks  -88.845184       27
15    Kansas City Chiefs -109.281348       28
31   Washington Redskins -110.212009       29
29  Tampa Bay Buccaneers -130.102279       30
10         Detroit Lions -170.808828       31
17      Los Angeles Rams -194.118681       32