# Elo-Win Example

In [1]:
from ratingslib.datasets.filenames import dataset_path, FILENAME_EPL_2018_2019_20_GAMES
from ratingslib.ratings.elo import Elo
from ratingslib.utils.enums import ratings
filename = dataset_path(FILENAME_EPL_2018_2019_20_GAMES)
Elo(version=ratings.ELOWIN, starting_point=0).rate_from_file(filename)

              Item     rating  ranking
0          Arsenal -37.707535       12
1      Bournemouth  37.707535        3
2         Brighton   2.292465        5
3          Burnley -18.849977        9
4          Cardiff -20.000000       10
5          Chelsea  37.707535        3
6   Crystal Palace   0.000000        7
7          Everton  20.000000        4
8           Fulham -37.707535       12
9     Huddersfield -37.707535       12
10       Leicester   1.150023        6
11       Liverpool  40.000000        1
12        Man City  37.707535        3
13      Man United  -2.292465        8
14       Newcastle -20.000000       10
15     Southampton -20.000000       10
16       Tottenham  37.707535        3
17         Watford  38.849977        2
18        West Ham -37.707535       12
19          Wolves -21.150023       11